/*FIRST HOME SCREEN*/

body {
    background-color: #ffffff;
}

.logo {

    flex-shrink: 0; 
    /* Impede que a logo encolha */ 
    margin-right: auto;
    /* Garante que a logo fique na extrema esquerda */
    padding: 0px;
    height: 6rem;
    position: absolute;
    left: 0;

}



/* NAVIGATION BUTTONS */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    padding: 0 20px;
    background-color: #ffffff;
    color: #fff;
    height: 60px;

}

.nav-button {
    
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;

}

.nav-button li {
    display: inline;
    
    
}

.nav-button li a {
    position: relative;
    font-size: 1.05rem;
    text-decoration: none; /* Remove o sublinhado */
    color: rgb(0, 0, 0); /* Cor do texto */
    padding: 10px 15px;


}

/* Linha d baixo qnd encosta  */
.nav-button li a::after {
    content: ""; /* Elemento vazio obrigatório */
    position: absolute;
    left: 50%;
    bottom: -3px; /* Distância do texto */
    width: 0%; /* Começa invisível */
    height: 3px; /* Altura da linha */
    background-color: rgb(0, 0, 0); /* Cor da linha */
    transition: width 0.3s ease, left 0.3s ease; /* Suaviza a animação */
    transform: translateX(-50%);
}


.nav-button li a:hover::after {
    width: 100%;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}


.nav-button li a.active {
    background-color: #21F421;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    
}




/*HOME-SCREEN: */
.container-home-first-screen {
    position: relative;

    min-width: 100%;
    min-height: 50vh;
    width: 100%;
    height: 410px;

    align-items: center;
    text-align: center;
    overflow: hidden;
    z-index: 1;

}

.text-home-container {
    display: flex;
    margin-top: -20px;
    flex-direction: column;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
     /* Centraliza verticalmente */

    position: absolute;
    /* Posicao absoluta pra se manter fiel conforme muda resolucao*/
    top: 50%;
    /* Alinha o contêiner no centro da tela verticalmente */
    left: 50%;
    /* Alinha o contêiner no centro da tela horizontalmente */
    text-align: center;
    /* Centraliza o texto */
}

.text-home-container h1 {

    position: absolute;
    white-space: nowrap;
    text-align: center;
    font-size: 8vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.050);
    transform: translateY(-50%);
    z-index: 2;

}

.text-home-container p {
    position: absolute;
    margin-top: 50px;
    white-space: nowrap;
    text-align: center;
    font-size: 3vh;
    color: #ffffff;
    z-index: 1;
    background-color: rgba(241, 238, 238, 0.050);
    transform: translateY(50%);
    text-shadow: 1px 1px 8px #000000;
    

}

.img-mountain-background {
    background-image: url('../assets/index/Montain-EUA.png'); /*Insira o caminho da imagem central da home-screen*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 60%;
    border-radius: 15px;
    

    position: absolute;
    top: 20px; 
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    color: white;
    padding: 50px;
    width: 80%;
    height: 35vh;
}



/* ATIVIDADES DO PARQUE : */
.atividades-do-parque-container {

    /* display: flex; Perguntar pra galera dps ----------------------------------------------**** */
    /* justify-self: center; Perguntar pra galera dps ----------------------------------------------**** */ 
    /* width: 80%; Perguntar pra galera dps ----------------------------------------------*****/
    margin-left: 100px;
    margin-right: 100px;
    width: 1180px;
    height: 600px;
    justify-self: center;
    
    

}

.atividades-do-parque-container h1 {

    /* margin-top: 100px; Perguntar pra galera dps ----------------------------------------------*****/
    margin-bottom: 40px;
    margin-top: -05px;
    font-size: 32px;

}

.card_activity-of-park {

    display: grid;
    justify-self: center;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: auto auto auto;
    column-gap: 80px; 
    list-style: none;

}

.card_activity-of-park img {
    
  
    grid-row: 1;
    width: 180px;
    height: 180px;
    border-radius: 8px;
   
}

.card_activity-of-park h2 {
    
    grid-row: 2;
    gap: 5px;
    font-size: 20px;
   
}

.card_activity-of-park p {

    grid-row: 3;
    margin-left: 10px;
    width: 150px;
    color: #5f5959;
    margin-top: -05px;
    font-size: 16px;


}



/* PLANO DE GESTÃO DA ONU:  */

.plano-de-gestao-da-onu-container {
        
        margin-left: 100px;
        margin-right: 100px;
        width: 1180px;
        height: 600px;
        max-width: 1200px;
        justify-self: center;
        
        

}


.plano-de-gestao-da-onu-menu {

    margin-bottom: 20px;
    display: flex;
    

}

.plano-de-gestao-da-onu-menu #content {
    flex-direction: column;
    
}

.plano-de-gestao-da-onu-menu li{
    width: 70%;
    list-style: none;
    
}

.plano-de-gestao-da-onu-menu li p3 {
    position: relative;
    left: 40px;
    color: #5f5959;
}


.plano-de-gestao-da-onu-menu img {

    /* position: relative; */
    /* align-items: flex-start; */
    margin-left: 35px;
    margin-top: -60px;
    width: 450px;
    height: 450px;
    border-radius: 8px;
      
}


.plano-gestao-onu_dynamic-buttons {
    display: flex;
    gap: 70px;
    margin-top: -40px;
    margin-bottom: 20px;
    flex-direction: row;
    list-style: none;

}

.plano-gestao-onu_dynamic-buttons button {

    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    background: #dedede;
    color: #000000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.plano-gestao-onu_dynamic-buttons button:hover {

    color: rgb(0, 0, 0);
    transform: scale(1.05);

}

.plano-gestao-onu_dynamic-buttons button:active {
    transform: scale(0.95);
}

.plano-gestao-onu_dynamic-buttons button.active {
    
    background: linear-gradient(90deg, #40ff40, #179407);
    /* background: linear-gradient(40deg, #1eff00, #c4ffc2);  Gradiente top meo depois analisar */
    /* background: black; PERGUNTAR PRA GALERA DEPOIS --------------------------**** */
    color: rgb(0, 0, 0);
    /* color: white; PERGUNTAR PRA GALERA DEPOISSSSSSSSSSSSS -------------------**** */
    box-shadow: 0px 0px 12px rgb(9, 255, 0);
}